<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="sidenav">
      <% Object.values(nav).forEach(entry => { %>
        <a href="<%= entry.link %>"><%=entry.label %></a>
      <% }) %>
    </div>

    <div class="main">
      <h2>About</h2>
      <p>When driving along the highway, speeding past the scenery, we noticed that there was an unacceptable amount of waste: plastic bottles and bags, aluminum cans, paper napkins, cigarette packages, straws... What we couln't see was: why? Why would people throw so much trash out their window and not feel guilty? While we can't answer that question, we can alleviate another: why is there so much trash when we are more than capable of dealing with waste?</p>
<p>
The solution? Trash Finder: an innovative approach to managing disposables and waste. The idea is simple: allow people to share photos of places that are trash-ridden, and then volunteer or have other people volunteer (in groups and social events, or solo) to clean the trash! But who would be willing to spend their precious free time dedicating energy and effort to cleaning trash? That's why we have an incentive: hours spent cleaning can become volunteer hours for school.
</p>
<p>
But isn't that a little shallow? Personally, we believe that the earth and the environment are most important, especially when you consider the future. Therefore, we believe it's meritable to reward any action, big or small, towards the benefit of the world, and of those directly around us, is a success in the struggle to save the environment.
</p>
    </div>
  </body>
</html>