<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="juxtapose">
        <img src="/uploaded_images/<%= entry.dirty %>" />
        <img src="/uploaded_images/<%= entry.clean %>" />
    </div>

    <% if(entry.clean == "notyetcleaned.png") { %>
        <h2 for="location">Location: <%= entry.location %> </h2>
        <form method="post" enctype="multipart/form-data" action="/clean/<%= entry.id %>" novalidate>
            <div class="form-field">
                <label for="file">Upload Image</label>
                <input type="file" name="file" accept="image/*">
            </div>
            <div class="form-field">
                <label for="hours">Hours Worked</label>
                <input name="hours" type="number" min="0" max="100">
            </div>
            <div class="form-actions">
                <button class="btn" type="submit">I did it!</button>
            </div>
        </form>
    <% }else{ %>
        <h2>Location: <%= entry.location %> </h2>

        <p>Thanks to your noble efforts, this area is now clean! The number of hours you have worked is <%= entry.hours_worked %>. </p>
    <% } %>

    <script src="http://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
    <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
</body>

</html>