<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="sidenav">
    <% Object.values(nav).forEach(entry => { %>
    <a href="<%= entry.link %>"><%=entry.label %></a>
    <% }) %>
  </div>

  <div class="main">
    <h2>Highlights</h2>
    <% Object.values(entries).forEach(entry => { %>
      <div class="juxtapose">
        <img src="uploaded_images/<%= entry.dirty %>" />
        <img src="uploaded_images/<%= entry.clean %>" />
      </div>
        <button class="btn" onclick="doit(<%= entry.id %>)"><%= (entry.clean == "notyetcleaned.png" ? "Clean it!" : "View Details") %></button>
    <% }) %>
  </div>

  <script src="http://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
      <script src="client.js"></script>
      <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
</body>

</html>