<!DOCTYPE HTML>
<html>
    <link rel="stylesheet" href="imageselector.css">
</html>

<body> 
    <% Object.values(entries).forEach(entry => { %>
        <div class="juxtapose">
            <img src="uploaded_images/<%= entry.dirty %>" />
            <img src="uploaded_images/<%= entry.clean %>" />
        </div>
        <% if(entry.clean == "notyetcleaned.png") { %>
            <button class="fixit" onclick="doit(<%= entry.id %>)">Clean it!</button>
        <% } %>
    <% }) %>

    <form method="post" enctype="multipart/form-data" action="/upload" novalidate>
        <div class="form-field">
            <label for="file">Upload Image</label>
            <input type="file" name="file" accept="image/*">
        </div>
        <div class="form-actions">
          <button class="btn" type="submit">Send</button>
        </div>
      </form>

      <script src="http://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
      <script src="client.js"></script>
      <link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
</body>

<footer>
    
</footer>