<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="sidenav">
      <% Object.values(nav).forEach(entry => { %>
        <a href="<%= entry.link %>"><%=entry.label %></a>
      <% }) %>
    </div>

    <div class="main">
      <h2>Report</h2>

      <form method="post" enctype="multipart/form-data" action="/upload" novalidate>
        <div class="form-field">
            <label for="file">Upload Image</label>
            <input type="file" name="file" accept="image/*">
            <label for="location">Location</label>
    <input class="input" id="location" name="location" type="location" value="" />
        </div>
        <div class="form-actions">
          <button class="btn" type="submit">Send</button>
        </div>
      </form>
    </div>
  </body>
</html>