body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

* {
  box-sizing: border-box;
}

.form-header {
  width: 100%;
  max-width: 400px;
}

form {
  width: 100%;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.05) rgba(0,0,0,.08) rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0,0,0,.05);
}

label {
  display: block;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

.input {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  background: #fff;
  font: inherit;
}

.input:focus {
  outline: none;
  border-color: rgba(0,0,0,.3);
}

.form-field {
  margin-bottom: 10px;
}

.error, .errors-list {
  font-size: 14px;
  color: #C00;
}

.errors-list {
  margin: 0 0 1.5em;
  padding: 0 0 0 15px;
}

.form-field-invalid .input {
  border-color: #C00;
}

.form-actions {
  margin-top: 20px;
}

.btn {
  display: block;
  width: 90%;
  padding: 10px;
  background: #24b47e;
  border: 1px solid rgba(0,0,0,.1);
  border-width: 1px 1px 3px;
  border-radius: 3px;
  font: inherit;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.2);
  margin: 5%
}

.btn:hover,
.btn:focus {
  outline: none;
  background: #2AA172;
}
.btn:active {
  transform: translateY(1px);
}
.flash {
  padding: 15px 20px;
  border: 1px solid;
  border-radius: 3px;
}
.flash-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}